/* General */
body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  background-color: #f8f1e9; /* Color de fondo de la primera parte */
  color: #000000; /* Color de texto principal */
}

header {
  background-color: #8d7966; /* Color del encabezado */
  color: white;
  padding: 20px 0;
  text-align: center;
}

.btn-regresar {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #e9e0d8; /* Color para el texto de los botones */
  font-weight: bold;
  border: 2px solid #e9e0d8;
  padding: 6px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.titulo {
  margin-top: 10px;
  font-size: 2.5em;
  color: #f8f1e9; /* Color de los títulos */
}

#poeta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
}

.tarjeta-poeta {
  width: 250px;
  text-align: center;
  background-color: #ffffff; /* Fondo blanco de las tarjetas */
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.tarjeta-poeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.tarjeta-poeta h2 {
  color: #574c43; /* Color de los títulos dentro de las tarjetas */
  font-size: 1.3em;
  margin: 10px 0;
}

.tarjeta-poeta p {
  color: #2f2f2f; /* Color de texto en las tarjetas */
  font-size: 1em;
}

.tarjeta-poeta a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #8d7966; /* Color del enlace */
  font-weight: bold;
}

.poeta-imagen {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  filter: grayscale(100%);
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  background-color: #8d7966;
}


#buscador {
  width: 500px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 16px;
}

#nacionalidad-filter {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 16px;
  background-color: #e9e0d8;
}